
.navbar-nav a {
    font-weight: 900;
    font-size: 18px;
}
.btn-buy {
    background-image: linear-gradient(to bottom, #FF5B9B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel {
    background-color: #FCEAE8;
}
.padding {
    padding: 20px 40px;
}
.mar-1 {
    margin-top: 70px;
}
.mar-2 {
    margin-top: 110px;
}
.cat1 {
    background-color: orange;
}
.cat2 {
    background-color: #DA70D6;
}
.cat3 {
    background-color: rgba(0, 0, 255, 0.788);
}
.cat1, .cat2, .cat3 h2 {
    color: white;
}
.cat1, .cat2, .cat3 {
    border-radius: 10px;
    padding: 10px 20px;
}
#shadow {
    border: none;
    box-shadow: gray 5px 5px 10px;
}
.hei-250 {
    height: 250px;
    border-radius: 10px;
}
.btn-buy2 {
    background-image: linear-gradient(to bottom, #FF5B9B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px 25px;
    cursor: pointer;
}
footer {
    text-align: center;
}
.slide {
    border-radius: 10px;
}